body {
    height: 100%;
    background-image: url('Canadian-Rockies.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    margin: auto;
    padding: 0;

}
p {
    color: white;
    text-align: center;
}

div {
    display: inline-block;
}
div.panel {
   background: none;
   margin: 5px;

}

/* img {
    height: 100%;
    width: 100%; 
    border: 1%;
    border-color: white; 
} */

#canadaButtons {
    float: left;
    /* clear: both; */
}

#canadaButtons button {
    background-color: crimson;
    font-size: 24px;
    color: white;
    padding: 1%;
    margin: 1%;
    border-radius: 6px;
}

#gifs-appear-here {
    clear: right;
}

.panel {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    /* color: #fff; */
    clear: both;
    margin: 0;
    border: 5px;
}

#btnBox {
    clear: right;
    float: right;
    /* display: block; */
    margin-bottom: 5%;
}

#newButton {
    font-size: 24px;
    padding: .75%;
    margin: 1%;
    border-radius: 6px;
    border-color: white;
}

#inputBox {
    height: 50px;
    font-size: 25px;
    padding: .75%;
    margin: 1%;
}

/* .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: black;
    color: blue;
    padding: 1% 0;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    border: 0;
    z-index: 1;
} */

#title {
    float: left;
    min-height: 55px;
    padding: 15px 15px 5px;
    font-family: 'Monoton', cursive;
    font-size: 40px;
    color: white;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover {
    color: gainsboro;
    background-color: navy;
}

.navbar-inverse .navbar-nav li a {
    color: royalblue;
}

.form-inline {
    float: right;
    margin-top: 8px;
}

#myNavbar {
    padding-top: 5px;
}